In [1]:
# answer 1
import numpy as np
import pandas as pd

In [2]:
# answer 2 and 3 and 4
df=pd.read_csv('C:/Users/yashw/Downloads/2. Pandas Basic Exercises/Exercise Data Files/Pandas Exercise Missing Values Files/wine.txt',skiprows=[0])

In [3]:
df

,1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4.38,1.05,3.4,1050
0,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
1,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
2,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
3,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
4,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
172,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
173,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
174,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
175,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [4]:
# answer 4
df=df.drop(columns=['1'])

In [5]:
df=df.drop(columns=['2.14','2.65','.26','4.38','3.4','1050'])

In [6]:
df

      13.2  1.78  11.2  100  2.76  1.28  1.05
0    13.16  2.36  18.6  101  3.24  2.81  1.03
1    14.37  1.95  16.8  113  3.49  2.18  0.86
2    13.24  2.59  21.0  118  2.69  1.82  1.04
3    14.20  1.76  15.2  112  3.39  1.97  1.05
4    14.39  1.87  14.6   96  2.52  1.98  1.02
..     ...   ...   ...  ...   ...   ...   ...
171  13.71  5.65  20.5   95  0.61  1.06  0.64
172  13.40  3.91  23.0  102  0.75  1.41  0.70
173  13.27  4.28  20.0  120  0.69  1.35  0.59
174  13.17  2.59  20.0  120  0.68  1.46  0.60
175  14.13  4.10  24.5   96  0.76  1.35  0.61

[176 rows x 7 columns]

In [7]:
df.drop(columns=['alcohol'],inplace=True)

KeyError: "['alcohol'] not found in axis"

In [ ]:
# answer 5
dff=df.rename(columns={'13.2':'alcohol','1.78':'malic_acid','11.2':'alcalinity_of_ash','100':'magnesium','2.76':'flavanoids','1.28':'proanthocynins','1.05':'hue'})

In [ ]:
dff

In [ ]:
# answer 6
dff['alcohol'][0:3]=np.nan

In [ ]:
dff

In [ ]:
# answer 7
dff['magnesium'][2:4]=np.nan

In [ ]:
dff

In [ ]:
# answer 8
dff['alcohol']=dff['alcohol'].fillna('10')
dff['magnesium']=dff['magnesium'].fillna('100')

In [ ]:
dff

In [ ]:
# answer 9
dff.isnull().sum()

In [ ]:
# answer 10
r=np.random.randint(1,10,(10))
print(r.ndim)
dff['Random']=pd.Series(r)

In [ ]:
dff

In [ ]:
# answer 12
dff.isnull().sum()

In [ ]:
# answer 13
dff.dropna(axis=0)

In [ ]:
# answer 15
dff=dff.reset_index()

In [ ]:
dff

In [ ]:
dff.drop(columns=['index'])