In [15]:
# answer 1
import pandas as pd

In [16]:
# answer 2
a = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [25]:
aa=pd.DataFrame(a)

In [26]:
# answer 3
pokemon=aa

In [27]:
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [28]:
# answer 4
col_name=['name','Type','hp','evolution','pokedex']
pokemon=pokemon.reindex(columns=col_name)

In [29]:
# answer 5
p=['lakes','parks','monuments','hills','statues']
pokemon['Places']=pd.Series(p)

In [30]:
pokemon['Places']

0        lakes
1        parks
2    monuments
3        hills
Name: Places, dtype: object

In [31]:
# answer 6
aa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   evolution  4 non-null      object
 2   type       4 non-null      object
 3   hp         4 non-null      int64
 4   pokedex    4 non-null      object
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes

In [32]:
pokemon

         name  Type  hp   evolution pokedex     Places
0   Bulbasaur   NaN  45     Ivysaur     yes      lakes
1  Charmander   NaN  39  Charmeleon      no      parks
2    Squirtle   NaN  44   Wartortle     yes  monuments
3    Caterpie   NaN  45     Metapod      no      hills